main {
  overflow-y: scroll;
  padding-bottom: 10px; }
  main .main-hero-img {
    width: 100%; }
  main .main-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  main .main-collage img {
    width: 50%; }
  main.main_secundary {
    display: grid;
    grid-template-rows: 80px auto; }
    main.main_secundary h1 {
      font-size: 30px;
      text-align: center; }
    main.main_secundary .main-collage {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px; }
      main.main_secundary .main-collage .collage-element {
        display: flex;
        flex-direction: column; }
        main.main_secundary .main-collage .collage-element img {
          width: 100%;
          height: 250px; }
        main.main_secundary .main-collage .collage-element button {
          background-color: white;
          height: 30px;
          color: black;
          border-radius: 15px; }
    main.main_secundary form {
      width: 600px;
      justify-self: center; }
    main.main_secundary button {
      cursor: pointer; }
    main.main_secundary .carrito {
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      padding-right: 30px; }
      main.main_secundary .carrito .carrito-element {
        display: flex;
        align-items: center;
        align-self: center;
        gap: 20px; }
        main.main_secundary .carrito .carrito-element img {
          width: 30%; }
        main.main_secundary .carrito .carrito-element button {
          background-color: white;
          height: 30px;
          width: 100px;
          color: black;
          border-radius: 15px; }
      main.main_secundary .carrito button {
        background-color: white;
        align-self: flex-end;
        height: 30px;
        width: 250px;
        color: black;
        border-radius: 15px; }
    main.main_secundary .boton-pago {
      display: flex;
      justify-content: end; }
      main.main_secundary .boton-pago button {
        cursor: pointer;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: large;
        height: 60px;
        width: 200px;
        border-radius: 15px; }
