header {
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 80px 40px;

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            height: 40px;
            border: 2px solid white;
            padding: 5px;
        }
    }

    nav {
        border-top: 1px solid white;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
        }
    }
}